---
interface Props {

}

const {} = Astro.props;
---
<div class="blog-list">
  <slot />
</div>

<style lang="scss">
  .blog-list {
    // border-block-end: 1px solid var(--c-border-primary);
    @include mq(md) {
      border-inline: 1px solid var(--c-border-primary);
    }
  }
</style>
