---
interface Props {
	isTop?: boolean;
}

const { isTop } = Astro.props;

const blogTitle = 'TREASURE CHEST';
const nowYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="footer-inner">
    <small class="footer-copy">&copy; nakazawa. {nowYear}</small>
  </div>
</footer>

<style lang="scss">
  .footer {
    position: sticky;
    inset-block-start: 100vh;
    inline-size: 100%;
    margin-block-start: var(--space-xl);
    background-color: var(--c-primary);
    border-block-start: 1px solid var(--c-border-primary);
  }
  .footer-inner {
    inline-size: 100%;
    max-inline-size: calc(var(--content-width) + var(--gutter)* 2);
    margin-inline: auto;
    padding-inline: var(--gutter);
    padding-block: var(--space-s);
  }
  .footer-copy {
    display: block;
    color: var(--c-white);
    font-size: var(--fs-p-s);
    text-align: center;
    line-height: 1;
  }
</style>