---
interface Props {
	isTop?: boolean;
}

const { isTop } = Astro.props;

const blogTitle = 'treasure-chest';
---

<div id="sidebar">
  <aside>
    
  </aside>
</div>

<style lang="scss">
  header {

  }
  .inner {
    display: flex;
  }
  nav {
    ul {
      display: flex
    }
    li {

    }
  }
</style>