---
const { heading } = Astro.props
---

<li>
  <a href={'#' + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ol>
        {heading.subheadings.map((subheading: any) => (
          <Astro.self heading={subheading} />
        ))}
      </ol>
    )
  }
</li>

<style lang="scss">
  li {
    margin-block: 6px;
    position: relative;

    &::before {
      content: "";
      display: block;
      inline-size: 5px;
      block-size: 5px;
      position: absolute;
      inset-block-start: .75em;
      inset-inline-start: -10px;
      translate: -50% 0;
      background-color: var(--c-accent);
    }
    a {
      --clamp-min: 12;
      --clamp-max: 14;

      color: var(--c-primary);
      font-weight: var(--fw-normal);
    }
    & > ol {
      margin-block: 6px;
      margin-inline: var(--space-s) 0;
    }
  }
</style>